.homepagewrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color:aliceblue;
}
.formwrappper{
  background: #192734;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;

}
footer{
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}
footer a{
  color: rgb(65, 224, 113);
}
.inputGroup{
  display: flex;
  flex-direction: column;
}
.mainlabel{
  margin-bottom: 20px;
  margin-top: 0;
}
.logooo{
  height: 130px;
  
  margin-bottom: 30px;
}
.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background:rgb(255, 240, 213) ;
  font-size: 16px;
  font-weight: bold;
}
.btn{
  border:none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 0px 4px 4px rgb(0,0,0);
  transition: all 0.3s ease-in-out;
}
.joinbtn{
  background: rgb(22, 196, 22);
  width: 100px;
  margin-right: auto;
}
.joinbtn:hover,.leavebtn:hover{
  background: rgb(1, 80, 1);
}
.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}
.createNewBtn{
  background: rgb(22, 196, 22);
}
.createNewBtn:hover, .foot:hover {
  outline-color: transparent;
  outline-style:solid;
  background: rgb(1, 80, 1);
  transition: 0.3s;
}
.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;

}
.aside{
  background: #192734;
  padding: 16px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}
.asideInner{
  flex: 1;
}

.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.username{
  margin-top:10px ;
}
.logo{
  border-bottom: 1px solid #424242 ;
  padding-bottom: 10px;
}

.leavebtn{
  background: rgb(22, 196, 22);
  width: 100%;
  margin-top: 20px;
}
.copybtn{
  margin-top: 20px;
  width: 100%;
}
.CodeMirror{
  min-height: calc(96.9vh);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}
